.github
.husky
.vscode
designs
dist
node_modules
samples
src
website

.node-version
astro.config.js
bun.lockb
eslint.config.js
lint-staged.config.js
prettier.config.cjs
tailwind.config.js
tsconfig.json