body {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #abb2bf;
  background-color: #21252b;
  font-family: 'Nunito', cursive;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.logo {
  display: block;
  width: 200px;
  margin: 0 auto 20px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  color: #e06c75;
  font-size: 90px;
}

.tagline {
  margin-bottom: 20px;
  text-align: center;
}

.screenshot {
  display: block;
  max-width: 100%;
  margin: 0 auto 20px;
}
